---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tailwind deneme">
	<h2>My tutorial page</h2>
	<h2>My tutorial page</h2>
	<h2>My tutorial page</h2>
	<h2>My tutorial page</h2>
	<h2>My tutorial page</h2>
	<h2>My tutorial page</h2>
	<h2>My tutorial page</h2>
	<h2>My tutorial page</h2>
	<h2>My tutorial page</h2>
	<h2>My tutorial page</h2>

</Layout>