---
import { SignedIn, SignedOut, UserButton, SignInButton } from "@clerk/astro/components";

---
<style>
    /* *{
        border:1px solid red
    } */
</style>
<div class="bg-green-600  flex justify-between gap-3 p-7 mb-96">

       <SignedOut>
         <SignInButton mode="modal" />
        </SignedOut>
        <SignedIn>
          <UserButton />
        </SignedIn>
    <!-- <div class="flex justify-start gap-3 ml-3">
        <div class=" text-slate-100 m-auto" >{'user.pp'}</div>
        <div class=" text-slate-100 m-auto">{'user.name'}</div>
    </div>
    <div class="text-slate-100 bg-red-800 p-3 hover:cursor-pointer"> Sign out</div> -->
</div>